@import url("https://use.typekit.net/afz5wtp.css");

* {

  padding: 0;
  font-family: proxima-nova, sans-serif;

}

body {
  background-color: #E3F1F0;
}

.text-center {
  text-align: center;

}

/* #region heading */
main {
  width: 100%;
}

.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr 8fr 1fr;
  grid-template-areas:
  ". navbar . main ." ;
}

main {
  grid-area: main;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: Black;
  font-family: Gill Sans, sans-serif;
  font-weight: 300;
}
.beskrivelse {
  margin: 10px;
}

.underoverskrift {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
}

/* #endregion */

h2 {
  text-align: left;
  font-size: 35px;
  color: Black;
  font-weight: 100;
  font-family: proxima-nova, sans-serif;
  
}

.navbar {
  grid-area: navbar;
  
}

.navbar div {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #D3D3D3;
  
}

.navbar a {
  text-decoration: none;
  color: #111111;
}
.navbar a:hover {
  text-decoration: underline;
  
}

.box {
  padding: 4px;

  display: flex;

  justify-content: space-around;

}

.box01 {

  flex-wrap: wrap;


}


/* #region farve */

.colourbox {

  height: 150px;
  width: 150px;
  border: 2px solid black;
  box-shadow: 8px 10px 32px -11px rgba(0,0,0,0.93);

}

.lightblue {
  background-color: #E3F1F0;
}
.blue {
  background-color: #00454E;
}
.yellow {
  background-color: #FAE256;
}
.fbblue {
  background-color: #4267B2;
}
.pastelmint {
  background-color: #AAC6C7;
}
.red {
  background-color: #BC2222;
}
.black {
  background-color: #111111;
}

/* #endregion */



.tekst {
  display: flex;
  align-items: center;
  justify-content: center;

}

.icons {
  display: flex;
  justify-content: space-around ;
}

.logo {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  
  align-items: flex-end;
  

  /* box-shadow: 8px 10px 32px -11px rgba(0,0,0,0.93); */
}


.img-fluid {
  width: 100%;
}



.dark-icons {
  background-color: #00454E;
  color: #E3F1F0;
  padding: 15px 5px;

}

.kodestykker {
  background-color: lightgrey;
  border-radius: 8px;
  padding: 1.5rem;
}

.spacing20 {
  margin-left: 20px;
}
.spacing40 {
  margin-left: 40px;
}


.btn-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 20vh;
  list-style: none;

}

.btn-facebook {

  background-color: #4267b2 !important;

}

.login-heading {
  margin-top: 5%;
  font-size: 1.5rem;
  font-weight: 700;
  
}

.btn {
  padding: 10px 90px;
  box-shadow: 6px 9px 17px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  font-family: proxima-nova, sans-serif;
  background-color: rgb(17, 17, 17);
  font-size: 20px;
  cursor: pointer;

}

.btn a {
  text-decoration: none;
  color: white;
}

.btn-small {
  width: 8%;
  margin: 0 auto;
  border-radius: 100px;
  font-size: 9px;
}


/* #region typografi */
.overskrift-tekst {
  font-size: 52px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;

  margin-bottom: -10px;

}

.knap-tekst {
  font-size: 20px;
  font-weight: 400;
  font-family: proxima-nova, sans-serif;
  
  margin-bottom: -10px;

}

.fredagsbar-tekst {
  font-size: 23px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  
  margin-bottom: -10px;

}

.begivenheder-tekst {
  font-size: 25px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  
  margin-bottom: -10px;

}

.brød-tekst {
  font-size: 16px;
  font-weight: 400;
  font-family: proxima-nova, sans-serif;
  
  margin-bottom: -10px;

}

.event-overskrift {
  font-size: 32px;
  font-weight: 700;
  font-family: proxima-nova, sans-serif;
  
  margin-bottom: -10px;

}

/* #endregion */
