* {

  padding: 0;

}

/*
@media screen and (min-width: 768px)
 and (max-width: 1024px) {
  body {
    background-color: white;
  }
}
 */

/* #region heading */
main {
  width: 100%;
}

.container {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr 8fr 1fr;
  grid-template-areas:
  ". navbar . main ."  ;
}

main {
  grid-area: main;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: Black;
  font-family: Gill Sans, sans-serif;
  font-weight: 300;
}

.underoverskrift {
  text-align: center;
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
}

/* #endregion */

h2 {
  text-align: left;
  font-size: 25px;
  color: Black;
  font-weight: 100;
  font-family: Gill Sans, sans-serif;
}

.navbar {
  grid-area: navbar;


}

.box {
  padding: 4px;

  display: flex;

  justify-content: space-evenly;

}

.box01 {

  flex-wrap: wrap;


}


/* #region farve */

.colourbox {

  height: 150px;
  width: 150px;
  border: 2px solid black;
  box-shadow: 8px 10px 32px -11px rgba(0,0,0,0.93);

}

.lightblue {
  background-color: #E3F1F0;
}
.blue {
  background-color: #00454E;
}
.yellow {
  background-color: #FAE256;
}
.fbblue {
  background-color: #4267B2;
}
.pastelmint {
  background-color: #AAC6C7;
}
.red {
  background-color: #BC2222;
}
.black {
  background-color: #111111;
}

/* #endregion */

.tekst {
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn {
  padding: 10px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.fa-login {

  background-color: #4267B2;
  border: none;
  color: white;
  border-radius: 10px;
}
.deltag {

  background-color: #111111;
  border: none;
  color: white;
  border-radius: 10px;
}
.deltager {

  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 10px;
}

#facbook_login_knap:hover {
  opacity: .8;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-around ;
}

.logo {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  box-shadow: 8px 10px 32px -11px rgba(0,0,0,0.93);
}

.logos {

}

.img-fluid {
  width: 100%;
}
